/*! = <nav>
-------------------------------------------------------------- */
.navbar {

  background-color: transparent;
  display: flex;
  padding: var(--gap) 0;

  #logo {
    svg {
      width: 210px;
    }
  }

  .navbar-toggler {
    margin-top: -15px;
    padding: .25rem .5rem;
    width: 40px;

    .navbar-toggler-icon {
      background-color: var(--color-secondary);
      height: 2px;
      position: relative;
      width: 100%;
      &::before, &::after {
        left: 0;
        background-color: var(--color-secondary);
        content: '';
        height: 2px;
        position: absolute;
        width: 100%;
      }
      &::before {
        margin-top: -8px;
      }
      &::after {
        margin-top: 8px;
      }
    }
  }

  .navbar-nav {
    display: inherit;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    li {
        margin-left: calc(var(--gap) / 1);
      &:last-child {
        a {
          margin-left: calc(var(--gap) / 2);
        }
      }

      a {
        color: var(--color-menu);
        font-size: var(--font-span);
        &:hover {
          color: var(--color-menu-hover);
        }
      }
    }
  }
}

/*! = <nav class="main-menu">
-------------------------------------------------------------- */
@media (max-width: 768px) {
  .navbar {
    .navbar-nav {
      li {
        margin-left: 0;
        padding: calc(var(--gap) * 1) 0;
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-menu);
        }
        height: calc(var(--gap) * 5);
        line-height: calc(var(--gap) * 3);
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
  footer {
    .navbar {
      .navbar-nav {
        li {
          &:not(:last-child) {
            border-bottom: 0;
          }
        }
      }
    }
  }
}