.svg-secondary {
  fill: var(--color-secondary);
}

.svg-primary {
  fill: var(--color-primary);
}

.section-dark {
  background-color: var(--color-primary);
}

.section-py {
  padding-top: calc(var(--gap) * 10);
  padding-bottom: calc(var(--gap) * 10);
}

.section-pt {
  padding-top: calc(var(--gap) * 10);
}

.section-pb {
  padding-bottom: calc(var(--gap) * 10);
}

.border-red       { border-color: var(--color-red) !important; }
.border-orange    { border-color: var(--color-orange) !important; }
.border-yellow    { border-color: var(--color-yellow) !important; }
.border-purple    { border-color: var(--color-purple) !important; }
.border-blue      { border-color: var(--color-blue) !important; }
.border-green     { border-color: var(--color-green) !important; }
.border-primary   { border-color: var(--color-primary) !important; }
.border-secondary { border-color: var(--color-secondary) !important; }

@media (min-width: 1200px){
  .container {
    max-width: 1200px;
  }
}

/*! = <MEDIA*>
-------------------------------------------------------------- */

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .section-py {
    padding-top: calc(var(--gap) * 2);
    padding-bottom: calc(var(--gap) * 2);
  }
  .section-pt {
    padding-top: calc(var(--gap) * 2);
  }
  .section-pb {
    padding-bottom: calc(var(--gap) * 2);
  }
}