:root {

  /*! = gap
  -------------------------------------------------------------- */
  --gap: 30px;


  /*! = typography
  -------------------------------------------------------------- */
  --font-light:     300;
  --font-regular:   400;
  --font-semi-bold: 600;
  --font-bold:      700;
  --font-primary:   'Montserrat', sans-serif;

  --font-h1: 55px;
  --font-h2: 45px;
  --font-h3: 30px;
  --font-h4: 20px;
  --font-big: 18px;
  --font-p: 16px;
  --font-span: 14px;
  --font-small: 12px;


  /*! = theme color
  -------------------------------------------------------------- */
  --color-primary:  #282828;
  --color-secondary:#6ade93;
  --color-white:    #ffffff;

  --color-red:      #ee767a;
  --color-orange:   #ce6669;
  --color-yellow:   #eab55f;
  --color-purple:   #8d5c9f;
  --color-blue:     #47a2a8;
  --color-green:    #44a061;
  --color-beige:    #f3f0eb;
  --color-grey:     #28282807;

  --color-menu:     #a6a6a6;
  --color-menu-hover: var(--color-secondary);

  @media (max-width: 1200px) {
  }
  
  @media (max-width: 992px) {
  }
  
  @media (max-width: 768px) {
    --gap: 20px;
    --font-h1: 37px;
    --font-h2: 33px;
    --font-h3: 26px;
  }
  
  @media (max-width: 480px) {
    --gap: 10px;
    --font-h1: 40px;
    --font-h2: 35px;
    --font-h3: 20px;
  }

}