.btn {
  border: none;
  border-radius: calc(var(--gap) / .5);
  display: inline-block;
  font-size: 20pt;
  font-weight: var(--font-semi-bold);
  min-height: fit-content;
  min-width: max-content;
  padding: calc(var(--gap) / 2) calc(var(--gap) * 1.5);
  text-align: center;
  transition: all ease-in-out .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: max-content;

  &.btn-primary {
    background-color: var(--color-secondary);
    color: var(--color-white);

    &:hover {
      color: var(--color-secondary);
      background-color: var(--color-white);
      box-shadow: 0 0 0 1px var(--color-secondary) inset;
    }
  }

  &.btn-outline {
    background-color: var(--color-white);
    box-shadow: 0 0 0 1px var(--color-secondary) inset;
    color: var(--color-secondary);
    
    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
  }

  &.btn-subscribe {
    font-size: 16pt;
  }

}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .btn {
    border-radius: calc(var(--gap) * 3);
    font-size: var(--font-big);
    padding: calc(var(--gap) / 1) calc(var(--gap) * 2.5);
  
    &.btn-subscribe {
      font-size: 16px;
    }
  
  }
}
