.loading-bar {
  border-radius: var(--gap);
  background-color: var(--color-white);
  box-shadow: 0 0 0 1px var(--color-secondary) inset;
  height: calc(var(--gap) * 1);
  position: relative;
  widows: 100%;

  &:before {
    content: '';
    background-color: var(--color-secondary);
    border-radius: var(--gap);
    height: inherit;
    position: absolute;
    width: 31%;
  }

}

@media (max-width: 600px) {
  .loading-bar {
    height: calc(var(--gap) * 2);
  }
}