.svg-secondary {
  fill: var(--color-secondary); }

.svg-primary {
  fill: var(--color-primary); }

.section-dark {
  background-color: var(--color-primary); }

.section-p {
  --p: 10;
  padding: calc(var(--gap) * var(--p)) !important; }
  .section-p.p-5 {
    --p: 5; }
  .section-p.p-4 {
    --p: 4; }
  .section-p.p-3 {
    --p: 3; }
  .section-p.p-2 {
    --p: 2; }
  .section-p.p-1 {
    --p: 1; }
  .section-p.p-0 {
    --p: 0; }

.section-py {
  --py: 8;
  padding-top: calc(var(--gap) * var(--py)) !important;
  padding-bottom: calc(var(--gap) * var(--py)) !important; }
  .section-py.py-7 {
    --py: 7; }
  .section-py.py-6 {
    --py: 6; }
  .section-py.py-5 {
    --py: 5; }
  .section-py.py-4 {
    --py: 4; }
  .section-py.py-3 {
    --py: 3; }
  .section-py.py-2 {
    --py: 2; }
  .section-py.py-1 {
    --py: 1; }
  .section-py.py-0 {
    --py: 0; }

.section-pt {
  --pt: 10;
  padding-top: calc(var(--gap) * var(--pt)) !important; }
  .section-pt.pt-5 {
    --pt: 5; }
  .section-pt.pt-4 {
    --pt: 4; }
  .section-pt.pt-3 {
    --pt: 3; }
  .section-pt.pt-2 {
    --pt: 2; }
  .section-pt.pt-1 {
    --pt: 1; }
  .section-pt.pt-0 {
    --pt: 0; }

.section-pb {
  --pb: 10;
  padding-bottom: calc(var(--gap) * var(--pb)) !important; }
  .section-pb.pb-5 {
    --pb: 5; }
  .section-pb.pb-4 {
    --pb: 4; }
  .section-pb.pb-3 {
    --pb: 3; }
  .section-pb.pb-2 {
    --pb: 2; }
  .section-pb.pb-1 {
    --pb: 1; }
  .section-pb.pb-0 {
    --pb: 0; }

.border-red {
  border-color: var(--color-red) !important; }

.border-orange {
  border-color: var(--color-orange) !important; }

.border-yellow {
  border-color: var(--color-yellow) !important; }

.border-purple {
  border-color: var(--color-purple) !important; }

.border-blue {
  border-color: var(--color-blue) !important; }

.border-green {
  border-color: var(--color-green) !important; }

.border-primary {
  border-color: var(--color-primary) !important; }

.border-secondary {
  border-color: var(--color-secondary) !important; }

.bg-primary {
  background-color: var(--color-primary); }

.bg-secondary {
  background-color: var(--color-secondary) !important; }

.bg-white {
  background-color: var(--color-white); }

.bg-red {
  background-color: var(--color-red); }

.bg-orange {
  background-color: var(--color-orange); }

.bg-yellow {
  background-color: var(--color-yellow); }

.bg-purple {
  background-color: var(--color-purple); }

.bg-blue {
  background-color: var(--color-blue); }

.bg-green {
  background-color: var(--color-green); }

.bg-beige {
  background-color: var(--color-beige); }

.border-primary {
  border-color: var(--color-primary); }

.border-secondary {
  border-color: var(--color-secondary) !important; }

.border-white {
  border-color: var(--color-white); }

.border-red {
  border-color: var(--color-red); }

.border-orange {
  border-color: var(--color-orange); }

.border-yellow {
  border-color: var(--color-yellow); }

.border-purple {
  border-color: var(--color-purple); }

.border-blue {
  border-color: var(--color-blue); }

.border-green {
  border-color: var(--color-green); }

.border-beige {
  border-color: var(--color-beige); }

.parallax-icon {
  position: absolute; }

.hexagon {
  fill: currentColor; }
  .hexagon.outline {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round; }

svg:not(.logo) {
  --svg-size: 1;
  width: calc(var(--gap) * var(--svg-size));
  max-width: calc(var(--gap) * var(--svg-size)); }
  svg:not(.logo).xxs {
    --svg-size: .5 ; }
  svg:not(.logo).xs {
    --svg-size: 1 ; }
  svg:not(.logo).s {
    --svg-size: 2 ; }
  svg:not(.logo).xxm {
    --svg-size: 3; }
    svg:not(.logo).xxm path {
      stroke-width: 1; }
  svg:not(.logo).xm {
    --svg-size: 4; }
    svg:not(.logo).xm path {
      stroke-width: .9; }
  svg:not(.logo).m {
    --svg-size: 5; }
    svg:not(.logo).m path {
      stroke-width: .8; }
  svg:not(.logo).xxl {
    --svg-size: 6; }
    svg:not(.logo).xxl path {
      stroke-width: .7; }
  svg:not(.logo).xl {
    --svg-size: 7; }
    svg:not(.logo).xl path {
      stroke-width: .6; }
  svg:not(.logo).l {
    --svg-size: 8; }
    svg:not(.logo).l path {
      stroke-width: .5; }
  svg:not(.logo).ll {
    --svg-size: 15; }
    svg:not(.logo).ll path {
      stroke-width: .4; }
  svg:not(.logo).lll {
    --svg-size: 25; }
    svg:not(.logo).lll path {
      stroke-width: .3; }
  svg:not(.logo).llll {
    --svg-size: 50; }
    svg:not(.logo).llll path {
      stroke-width: .2; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

/*! = <MEDIA*>
-------------------------------------------------------------- */
@media (max-width: 480px) {
  .section-py {
    padding-top: calc(var(--gap) * 2);
    padding-bottom: calc(var(--gap) * 2); }
  .section-pt {
    padding-top: calc(var(--gap) * 2); }
  .section-pb {
    padding-bottom: calc(var(--gap) * 2); }
  svg:not(.logo) {
    --svg-size: 1;
    width: calc(var(--gap) * var(--svg-size));
    max-width: calc(var(--gap) * var(--svg-size)); }
    svg:not(.logo).xxs {
      --svg-size: 2 ; }
    svg:not(.logo).xs {
      --svg-size: 4 ; }
    svg:not(.logo).s {
      --svg-size: 6 ; }
    svg:not(.logo).xxm {
      --svg-size: 8 ; }
    svg:not(.logo).xm {
      --svg-size: 10 ; }
    svg:not(.logo).m {
      --svg-size: 12 ; }
    svg:not(.logo).xxl {
      --svg-size: 14 ; }
    svg:not(.logo).xl {
      --svg-size: 16 ; }
    svg:not(.logo).l {
      --svg-size: 18 ; } }
