:root {
  --video-padding: calc(var(--gap) * 20);
  --whitepaper-height: calc(var(--gap) * 20); }

section {
  max-width: 100%;
  z-index: 2; }
  section * {
    z-index: 3; }

.section-main {
  padding: calc(var(--gap) * 4) 0; }
  .section-main .container {
    display: grid;
    grid-gap: calc(var(--gap) * 2); }

.section-main-city {
  margin-top: calc(var(--gap) * -7); }

.section-about {
  position: relative; }

.section-technology .tech-boxes {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: var(--gap); }

.section-why-spacenow {
  padding-bottom: var(--video-padding); }

.section-why-video {
  margin-top: calc(var(--video-padding) * -.8); }
  .section-why-video .video-overlay {
    position: relative; }
    .section-why-video .video-overlay::after {
      content: '';
      background: rgba(0, 0, 0, 0.2) url("../../images/icons/play.svg") center no-repeat;
      background-size: calc(var(--gap) * 5);
      height: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 4; }

.section-token-sale {
  margin-top: calc(var(--video-padding) * -.3); }
  .section-token-sale .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap); }

.section-whitepaper-background {
  background: url("../../images/section-whitepaper-background/section-whitepaper-background.jpg") center no-repeat;
  background-size: cover;
  height: var(--whitepaper-height);
  width: 100%; }

.section-whitepaper {
  margin-top: calc(var(--whitepaper-height) * -1.15); }
  .section-whitepaper .whitepaper-frame {
    background-color: var(--color-white);
    border-radius: calc(var(--gap) / 6);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }
  .section-whitepaper .btns-whitepaper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap); }

.section-distibuition {
  margin-top: calc(var(--whitepaper-height) * -.15); }
  .section-distibuition .distribuitions-graphs {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .section-distibuition .distribuitions-graphs .graph {
      padding: var(--gap);
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      --back-opacity: 0; }
      .section-distibuition .distribuitions-graphs .graph .front-graph, .section-distibuition .distribuitions-graphs .graph .back-graph {
        display: grid;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-gap: var(--gap);
        justify-content: center;
        align-items: center; }
      .section-distibuition .distribuitions-graphs .graph .front-graph {
        grid-template-areas: "title" "info-graph";
        grid-auto-rows: minmax(50px, max-content); }
      .section-distibuition .distribuitions-graphs .graph .back-graph {
        grid-template-areas: "title" "subtitle" "content";
        grid-auto-rows: minmax(50px, max-content);
        z-index: 2;
        opacity: var(--back-opacity);
        pointer-events: none;
        background-color: var(--color-white); }
      .section-distibuition .distribuitions-graphs .graph:hover {
        --back-opacity: .9;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        border-radius: calc(var(--gap) / 6); }
        .section-distibuition .distribuitions-graphs .graph:hover .back-graph {
          opacity: var(--back-opacity);
          z-index: 3; }
  .section-distibuition .allocations-graphs {
    display: grid;
    grid-template-columns: repeat(6, 1fr); }
    .section-distibuition .allocations-graphs .graph {
      padding: calc(var(--gap) / 2);
      display: grid; }
      .section-distibuition .allocations-graphs .graph .front-graph, .section-distibuition .allocations-graphs .graph .back-graph {
        display: grid;
        grid-gap: var(--gap);
        justify-content: center;
        align-items: center;
        grid-template-areas: "title" "info-graph";
        grid-auto-rows: minmax(50px, max-content); }

.section-roadmap .roadmaps {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  position: relative; }
  .section-roadmap .roadmaps::after {
    background: linear-gradient(transparent, var(--color-secondary), transparent);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0%;
    width: 1px; }
  .section-roadmap .roadmaps .roadmap {
    display: grid;
    grid-column-gap: calc(var(--gap) * 2);
    grid-row-gap: calc(var(--gap) * 1);
    grid-template-areas: "icon title" ". content";
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;
    grid-column-start: 2; }
    .section-roadmap .roadmaps .roadmap:nth-child(2) {
      grid-row-start: 2; }
    .section-roadmap .roadmaps .roadmap:nth-child(3) {
      grid-row-start: 3; }
    .section-roadmap .roadmaps .roadmap:nth-child(4) {
      grid-row-start: 4; }
    .section-roadmap .roadmaps .roadmap:nth-child(5) {
      grid-row-start: 5; }
    .section-roadmap .roadmaps .roadmap:nth-child(6) {
      grid-row-start: 6; }
    .section-roadmap .roadmaps .roadmap svg {
      margin-left: -7px;
      align-self: center;
      z-index: 1; }
    .section-roadmap .roadmaps .roadmap.left {
      grid-template-areas: "title icon" "content .";
      grid-template-columns: 1fr max-content;
      grid-column-start: 1; }
      .section-roadmap .roadmaps .roadmap.left svg {
        margin-right: -8px; }
    .section-roadmap .roadmaps .roadmap .icon {
      grid-area: icon; }
    .section-roadmap .roadmaps .roadmap .title {
      grid-area: title; }
    .section-roadmap .roadmaps .roadmap .content {
      grid-area: content;
      display: grid;
      grid-gap: calc(var(--gap) * .5); }

.section-our-team .team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: calc(var(--gap) * 3);
  grid-row-gap: calc(var(--gap) * 2); }
  .section-our-team .team .member {
    position: relative; }
    .section-our-team .team .member img {
      margin-bottom: calc(var(--gap) * .5);
      object-fit: cover;
      width: 100%; }

.section-subscribe form .input {
  border: none;
  border-radius: calc(var(--gap) / .5);
  display: inline-block;
  font-size: 20px;
  padding: calc(var(--gap) * .65) calc(var(--gap) * 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%; }

.section-subscribe form .btn {
  margin-top: -62px;
  margin-right: 1px; }

.section-subscribe-ovni {
  margin-top: calc(var(--gap) * -25); }
  .section-subscribe-ovni .ovni {
    position: relative; }
    .section-subscribe-ovni .ovni .ufo-laser {
      position: absolute;
      bottom: calc(var(--gap) * 2);
      left: 50%;
      margin-left: calc(var(--gap) * -3);
      animation: 2s ease-in-out zoomInOut infinite; }
    .section-subscribe-ovni .ovni .cow {
      bottom: calc(var(--gap) * 2.5);
      left: 50%;
      margin-left: calc(var(--gap) * -2);
      position: absolute;
      width: calc(var(--gap) * 4);
      animation: 3s ease-in-out upDown infinite; }
    .section-subscribe-ovni .ovni .cow-shadow {
      bottom: calc(var(--gap) * 1);
      left: 50%;
      margin-left: calc(var(--gap) * -2);
      position: absolute;
      width: calc(var(--gap) * 4);
      animation: 3s ease-in-out zoomOutIn infinite; }

@media (max-width: 768px) {
  .section-technology .tech-boxes .font-big {
    font-size: var(--font-span); }
  .distribuitions-graphs {
    margin-bottom: 0 !important; }
  .front-graph > .title {
    font-size: var(--font-span); }
  .section-our-team .team {
    grid-template-columns: repeat(3, 27%); }
  .section-subscribe form .btn {
    margin-top: -50px;
    margin-right: 0; } }

@media (max-width: 480px) {
  .section-technology .tech-boxes {
    grid-template-columns: repeat(2, 50%);
    grid-gap: calc(var(--gap) * 2); }
  .section-token-sale .boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: calc(var(--gap) * 2); }
  .section-whitepaper .btns-whitepaper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: calc(var(--gap) * 2);
    justify-items: center; }
  .section-distibuition .distribuitions-graphs {
    grid-template-columns: repeat(2, 1fr); }
  .section-distibuition .allocations-graphs {
    grid-template-columns: repeat(2, 1fr); }
  .section-roadmap .roadmaps {
    grid-template-columns: repeat(1, 100%);
    grid-gap: calc(var(--gap) * 5); }
    .section-roadmap .roadmaps::after {
      left: 0; }
    .section-roadmap .roadmaps .roadmap {
      grid-template-columns: max-content 1fr !important;
      grid-template-areas: "icon title" ". content" !important;
      grid-column-start: auto; }
      .section-roadmap .roadmaps .roadmap svg {
        margin-left: -9px; }
      .section-roadmap .roadmaps .roadmap .content {
        grid-gap: calc(var(--gap) * 1); }
  .section-our-team .team {
    grid-template-columns: repeat(2, 1fr); }
    .section-our-team .team .member img {
      margin-bottom: calc(var(--gap) * 1); }
    .section-our-team .team .member::after {
      height: 20px;
      padding: calc(var(--gap) * 1.5);
      width: 20px;
      top: calc(50% + 10px);
      right: 5px; }
  .section-subscribe form .input {
    font-size: 16px;
    padding: calc(var(--gap) * 1.2) calc(var(--gap) * 1); }
  .section-subscribe form .btn {
    margin-top: -44px;
    margin-right: -1px; }
  .section-subscribe-ovni {
    margin-top: calc(var(--gap) * -42);
    margin-bottom: calc(var(--gap) * 20); }
    .section-subscribe-ovni .ovni {
      left: 50%;
      width: 50%; }
      .section-subscribe-ovni .ovni .ufo-laser {
        margin-left: calc(var(--gap) * -4.5);
        width: 50%; }
  .section-technology .tech-boxes .font-big {
    font-size: var(--font-big);
    text-align: center; }
  .front-graph > .title {
    font-size: var(--font-h4); } }

.scene > *:nth-child(1) {
  opacity: 0.15; }
  .scene > *:nth-child(1) button {
    transform: rotate(150deg); }

.scene > *:nth-child(2) {
  opacity: 0.3; }
  .scene > *:nth-child(2) button {
    transform: rotate(120deg); }

.scene > *:nth-child(3) {
  opacity: 0.45; }
  .scene > *:nth-child(3) button {
    transform: rotate(90deg); }

.scene > *:nth-child(4) {
  opacity: 0.6; }
  .scene > *:nth-child(4) button {
    transform: rotate(60deg); }

.scene > *:nth-child(5) {
  opacity: 0.75; }
  .scene > *:nth-child(5) button {
    transform: rotate(30deg); }

.scene > *:nth-child(6) {
  opacity: 0.9; }
  .scene > *:nth-child(6) button {
    transform: rotate(0deg); }

@keyframes upDown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(calc(var(--gap) * -1)); }
  100% {
    transform: translateY(0); } }

@keyframes zoomInOut {
  0% {
    transform: scale(1.2); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1.2); } }

@keyframes zoomOutIn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.7); }
  100% {
    transform: scale(1); } }

.member-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center; }

.member-image {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  overflow: hidden;
  border-radius: 112; }

.linkedin {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  z-index: 10;
  background-color: #6ade93;
  border-radius: 24px;
  height: 40px;
  width: 40px; }
